<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ycdyng.refreshnestedlayouttrial">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ListSamples">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- REFRESH LIST VIEW -->
        <activity
            android:name=".SampleListViewPullToRefresh"
            android:label="ListView/pull to refresh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewAutoRefresh"
            android:label="ListView/auto refresh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewLoading"
            android:label="ListView/loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewAutoLoad"
            android:label="ListView/auto load">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewManualLoad"
            android:label="ListView/manual load">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewAppBar"
            android:label="ListView/with AppBarLayout (API >= 21)" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewWithWrapAdapter"
            android:label="ListView/using WrapAdapter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewCustomLoading"
            android:label="ListView/custom loading layout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewCustomHeader"
            android:label="ListView/custom refresh header 1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewCustomHeaderTwoFeeler"
            android:label="ListView/custom refresh header 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewCustomHeaderRotate"
            android:label="ListView/custom refresh header 3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewCustomAutoLoad"
            android:label="ListView/custom auto-load layout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewRefreshableViewAttr_1"
            android:label="ListView/Refreshable View AttributeSet 1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleListViewRefreshableViewAttr_2"
            android:label="ListView/Refreshable View AttributeSet 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <!-- REFRESH RECYCLER VIEW -->
        <activity
            android:name=".SampleRecyclerViewWithQuickRecyclerAdapter"
            android:label="RecyclerView/using QuickRecyclerAdapter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleRecyclerViewWithQuickRecyclerMultiAdapter"
            android:label="RecyclerView/using QuickRecyclerMultiAdapter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleRecyclerViewWithWrapRecyclerAdapter"
            android:label="RecyclerView/using WrapRecyclerAdapter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleRecyclerViewAppBar"
            android:label="RecyclerView/with AppBarLayout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleRecyclerViewWithHeaderViewAndFooterView"
            android:label="RecyclerView/with header view and footer view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleRecyclerViewWithDivider"
            android:label="RecyclerView/with divider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleRecyclerViewItemListener"
            android:label="RecyclerView/set item listener">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <!-- REFRESH SCROLL VIEW -->
        <activity
            android:name=".SampleScrollViewPullToRefresh"
            android:label="ScrollView/pull to refresh" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleScrollViewLoading"
            android:label="ScrollView/loading" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleScrollViewAppBar"
            android:label="ScrollView/with AppBarLayout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ycdyng.refreshnestedlayouttrial.SAMPLE" />
            </intent-filter>
        </activity>

    </application>

</manifest>